@font-face {
  font-family: 'Pixelify Sans';
  src: url('./assets/fonts/PixelifySans-Regular.ttf');
  font-weight: 400;
}
/* Custom css */
.bg-placement {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: Pixelify Sans,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
main {
  flex: 1;
}
input {
  font-family: 'Pixelify Sans';
  color: white;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: white;
}
button, input, .get-weather-btn {
  -webkit-app-region: no-drag;
}
.app-window {
  background: url('./assets/background.gif')no-repeat center center fixed ;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
}
.control-bar {
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  margin-top: -2px;
  margin-bottom: 2px;
}
.input-container {
  display: flex;
  align-items: center;
}
.city-input {
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  width: 125px;
  padding: 3px 2px;
}
.get-weather-btn {
  background-image: url('assets/getWeather.png');
  width: 22px;
  height: 22px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.control-bar-btns {
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
}

.btn-close {
  background-image: url('assets/close_app.png');
}
.btn-celsius {
  background-image: url('assets/celsius_icon.png');
}
.btn-fahrenheit {
  background-image: url('assets/fahrenheit_icon.png');
}

.btn-fahrenheit, .btn-celsius, .btn-close {
  width: 22px;
  height: 22px;
  border: none;
  margin-left: 3px;
  cursor: pointer;
}

.temp-info {
  display: flex;
  width: 100%;
  justify-content: center;
  animation: sway 4s ease-in-out infinite;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('assets/cloud.png');
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 200px;
  animation: float 3s ease-in-out infinite;
}
.temp-display {
  font-size: 30px;
  margin-bottom: 16px;
}
.weather-info {
  display: flex;
  flex-direction: column-reverse;
}
.display-msg-contianer{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url('assets/woodDisplay.png');
  width: 100%;
  height: 100px;
}
.day-text {
  font-size: 20px;
  margin-top: 10px;
}
/* Animations for the cloud */
@keyframes float {
  0%,100% {transform: translateY(0);}
  50% {transform: translateY(-7px);}
}

@keyframes sway {
  0%,100% {transform: rotate(0deg);}
  50% {transform: rotate(1.5deg);}
}

